body,canvas,html{margin:0;padding:0;}
/* body,html{height:100%;width:100%;} */
canvas{
    /* necessary */
    display:block;

    /* optional */
    background-color:#f4f0e0; 
    box-shadow:inset 0 0 10px #333;
}